@page "/config"

@using TspCoordinator.Data;
@inject ConfigurationService ConfigurationService;
@inject IStringLocalizer<Config> Loc;

<PageTitle>View config</PageTitle>

<MudText Typo="Typo.h4">@Loc["Configuration"]</MudText>

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="Typo.h5">@Loc["JobReportingHeader"]</MudText>
        @if(ConfigurationService.StatusReportingSettings != null)
        {
            <MudSimpleTable Striped="true">
                <thead>
                    <tr>
                        <th>@Loc["Setting"]</th>
                        <th>@Loc["EnvVariable"]</th>
                        <th>@Loc["Value"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Loc["JobReporting"]</td>
                        <td>JOB_REPORTING_ENABLED</td>
                        <td>@Loc["Enabled"]</td>
                    </tr>
                    <tr>
                        <td>@Loc["JobReportingBroker"]</td>
                        <td>JOB_REPORTING_BROKER</td>
                        <td>@ConfigurationService.StatusReportingSettings.Broker</td>
                    </tr>
                    <tr>
                        <td>@Loc["JobReportingTopic"]</td>
                        <td>JOB_REPORTING_TOPIC</td>
                        <td>@ConfigurationService.StatusReportingSettings.Topic</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
        else
        {
            <MudSimpleTable Striped="true">
                <thead>
                    <tr>
                        <th>@Loc["Setting"]</th>
                        <th>@Loc["EnvVariable"]</th>
                        <th>@Loc["Value"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Loc["JobReporting"]</td>
                        <td>JOB_REPORTING_ENABLED</td>
                        <td>@Loc["Disabled"]</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.h5">@Loc["TimeIntervalsHeader"]</MudText>
        <MudSimpleTable Striped="true">
            <thead>
                <tr>
                    <th>@Loc["Setting"]</th>
                    <th>@Loc["EnvVariable"]</th>
                    <th>@Loc["Value"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Loc["QueueInspectionInterval"]</td>
                    <td>QUEUE_INSPECTION_INTERVAL</td>
                    <td>
                        @ConfigurationService.QueueInspectionInterval
                        (@TimeSpan.FromMilliseconds(ConfigurationService.QueueInspectionInterval))
                    </td>
                </tr>
                <tr>
                    <td>@Loc["HealthCheckInterval"]</td>
                    <td>HEALTH_CHECK_INTERVAL</td>
                    <td>
                        @ConfigurationService.HealthCheckInterval
                        (@TimeSpan.FromMilliseconds(ConfigurationService.HealthCheckInterval))
                    </td>
                </tr>
                <tr>
                    <td>@Loc["CompletedJobsCleanupInterval"]</td>
                    <td>CLEANUP_COMPLETED_INTERVAL</td>
                    <td>
                        @ConfigurationService.CleanupCompletedInterval
                        (@TimeSpan.FromMilliseconds(ConfigurationService.CleanupCompletedInterval))
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.h5">@Loc["JobManagementHeader"]</MudText>
        <MudSimpleTable Striped="true">
            <thead>
                <tr>
                    <th>@Loc["Setting"]</th>
                    <th>@Loc["EnvVariable"]</th>
                    <th>@Loc["Value"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Loc["MaxJobsPerTSP"]</td>
                    <td>MAX_JOBS_PER_TSP</td>
                    <td>@ConfigurationService.MaxJobsPerTsp</td>
                </tr>
                <tr>
                    <td>@Loc["HealthCheckAttempts"]</td>
                    <td>HEALTH_CHECK_ATTEMPTS</td>
                    <td>@ConfigurationService.HealthCheckAttempts</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.h5">@Loc["QueueStorageHeader"]</MudText>
        @if(ConfigurationService.QueueStorageRedisSettings != null)
        {
            <MudSimpleTable Striped="true">
                <thead>
                    <tr>
                        <th>@Loc["Setting"]</th>
                        <th>@Loc["EnvVariable"]</th>
                        <th>@Loc["Value"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Loc["QueueStorage"]</td>
                        <td>QUEUE_STORAGE_ENABLED</td>
                        <td>@Loc["Enabled"]</td>
                    </tr>
                    <tr>
                        <td>@Loc["QueueStorageHost"]</td>
                        <td>QUEUE_STORAGE_HOST</td>
                        <td>@ConfigurationService.QueueStorageRedisSettings.Host</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
        else
        {
            <MudSimpleTable Striped="true">
                <thead>
                    <tr>
                        <th>@Loc["Setting"]</th>
                        <th>@Loc["EnvVariable"]</th>
                        <th>@Loc["Value"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Loc["QueueStorage"]</td>
                        <td>QUEUE_STORAGE_ENABLED</td>
                        <td>@Loc["Disabled"]</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
    </MudItem>
</MudGrid>