@page "/tsp-instances"

<PageTitle>TSP instance list</PageTitle>

@using System.Globalization
@using TspCoordinator.Data
@inject TspInstancesService TSPInstancesService

<h1>TSP instance list</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (instances == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Location</th>
                <th>Version</th>
                <th>Last health check</th>
                <th>Status</th>
                <th>Jobs running</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (instance, index) in instances.Select( (val, idx) => (val, idx + 1) ))
            {
                <tr>
                    <td scope="row">@index</td>
                    <td>@instance.Location</td>
                    <td>@instance.Version</td>
                    <td>@instance.HealthCheckDate.ToString("u", CultureInfo.InvariantCulture)</td>
                    <td>
                    @switch(instance.Status)
                    {
                        case TspInstanceStatus.Active:
                            <span class="badge rounded-pill bg-success">Active</span>
                            break;
                        case TspInstanceStatus.NotWorking:
                            <span class="badge rounded-pill bg-danger">Not working</span>
                            <span class="badge rounded-pill bg-danger">Remaining health check attempts: @instance.HealthCheckAttemptsRemaining</span>
                            break;
                        case TspInstanceStatus.NotResponding:
                            <span class="badge rounded-pill bg-warning">Not responding</span>
                            <span class="badge rounded-pill bg-warning">Remaining health check attempts: @instance.HealthCheckAttemptsRemaining</span>
                            break;
                        case TspInstanceStatus.CannotGetExtendedInfo:
                            <span class="badge rounded-pill bg-warning">Cannot get extended info</span>
                            break;
                    }
                    </td>
                    <td>@(instance.RunningJobsIds?.Count ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TspInstance[]? instances;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        var timer = new System.Threading.Timer((_) =>
        {
            InvokeAsync( async () =>
            {
               instances = await TSPInstancesService.GetInstancesAsync();
               StateHasChanged();
            });
        }, null, 0, 5000);
    }
}
